{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccount.name }}
  namespace: {{ include "korrel8r.namespace" . }}
  labels:
    {{- include "korrel8r.labels" . | nindent 4 }}
{{- end }}

